<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<meta charset="UTF-8">
<title>新規タスク作成</title>
</head>
<body>
	<header th:replace="header"></header>
	<h1>新規タスク作成</h1>
	
	<form action="/tasks/add" method="post" 	th:object="${task}">
	    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<table border="1">
			<tr>
				<th>カテゴリー</th>
				<td>
					<label>仕事</label><input type="radio" name="categoryId" value="1" checked>
					<label>個人</label><input type="radio" name="categoryId" value="2">
					<label>その他</label><input type="radio" name="categoryId" value="3">
				</td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td>
					<input type="date" name="closingDate">
				</td>
			</tr>
			<tr>
				<th>進捗状況</th>
				<td>
					<label>未着手</label><input type="radio" name="progress" value="0" checked>
					<label>進行中</label><input type="radio" name="progress" value="1">
					<label>完了</label><input type="radio" name="progress" value="2">
				</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td>
					<input type="text" name="memo">
				</td>
			</tr>
		</table>
		<button>新規作成</button>
	</form>
</body>
</html>