<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header th:replace="header"></header>
<h3>ログイン</h3>
<form th:action="@{/login}" method="post">
	<span th:text="${message}" style="color:red"></span>
	<label><input type="email" name="username" placeholder="メールアドレス" required></label><br>
	<label><input type="password" name="password" placeholder="パスワード" required></label><br>
	<button type="submit">ログイン</button>
</form>
<h3><a href="/users/new">ユーザー新規作成</a></h3>
</body>
</html>