<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
</head>
<body>
		
	<a herf="/tasks">全タスク</a>
	<a th:each = "category:${categories}"
	   th:href = "@{/tasks(categoryId=${category.id})}"
	   th:text = "${category.name}"
	   style = "margin-right: 5px;"></a>
	
	<table border="1">
		
		<h3><a href="/tasks/add">新規作成</a></h3>
		
		<tr>
			<th>NO</th>
			<th>タイトル</th>
			<th>カテゴリー</th>
			<th>期限</th>
			<th>進捗状況</th>
			<th>変更</th>
			<th>削除</th>
		</tr>
		<tr th:each="task:${tasks}">
			<td th:text="${task.id}"></td>
			<td th:text="${task.title}"></td>
			<td th:text="${task.categoryId}"></td>
			<td th:text="${task.closingDate}"></td>
			<td th:text="${task.progress}"></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</body>
</html>